.top_nav {
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
      display: inline;
      padding: 8px;
  }

  .right_side_nav {
    width: 20%;
  }

  .left_side_nav {
    width: 20%;
  }

.google_logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 3%;
}

.search_field {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height: 20px;
}

#search_input {
    width: 40%;
    height:40px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 20px;
    outline: none;
    background-image: url('/Users/christianbonte/the_odin_project/google_homepage/Images/search_glass/1x/outline_search_black_24dp.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
}

center {
    display: block;
    text-align: center;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(187, 187, 187, 0.555);
}